@media screen and (min-width:768px) and (max-width:992px) {
   html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        }
/*Logo*/
.logo{
    padding-left: 5%;
    width: 15%;
}
/*Barre de recherche*/
    .navbar{
        right: 2%;
    }
/*Filtres*/
    .filter{
        flex-direction: row;
        flex-wrap: wrap ;
    }
    .chien{
        margin-left: 35% ;
    }
    .titrefilter{
        margin-left: 7%; 
     }
/*Bloc populaire*/
    .boxpop{
        align-self: center;
    }
    .poptitre{
        margin-top: 5%;
    }
    .hebergementpopulaire{
        flex-direction: column-reverse;
        align-items: center;  
    }
    .populaire{
        padding-bottom: 25px;
        margin-bottom: 40px;
        width: 90%;
    }
    .populaire h2{
        width: 100%;
    }
    .gradepop{
        font-size: 50%;
    }
    .boxpop{
        max-width: 90%;
        height: 150px;
    }
    .titreboxpop{
        font-size: 130%;
    }
    .nuitpop{
        font-size: 115%;
        margin-top: 4%;
    }
    .gradepop{
        font-size: 90% ;
        margin-top: 10%;
    }
/*CTA*/
    h1{
        padding-left: 50px;   
    }
    .zone{
        padding-left: 50px; 
        margin-bottom: 50px;
    }
/*Info*/
    .fas.fa-info{
        margin-left: 50px;
    }

    .fas.fa-chart-line{
        margin-right: 5%;
    }
/*Bloc hébergement*/
    #hebergement{
        width: 90%;
        max-width: 90%;
    }
    .imgbox{
        height: 120px;
    }
    .titrebox{
        font-size: 130%;
    }
    .nuit{
        font-size: 115%;
        margin-top: 2%;
    }
    .grade{
        font-size: 90%;
        margin-bottom: 4%;
    }
    .hebergementtitre{
        flex:1 0 70%;
    }
    .afficherplus{
        margin-bottom: 5%;
        margin-top: 3%;
    }
/*Bloc activité*/
    #activites{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }    
    .activitestitre{
        flex: 1 0 90%;
        margin-bottom: 30px;
    }
    .boxactlong{
        width: 25%;
    }
    .fatfine{
        width: 25%;
    }
    .boxjumelle{
        width: 75%;
        flex-direction: row;
    }
/*Footer*/
    .liste1{
        margin-left: 6%;
    }
    
}
