@media screen and (max-width:767px) {
    html,body{
        max-width: 100%;
        overflow-x: hidden;
        pointer-events:none;
    }
/*Logo*/
    .logo{
        align-self: center;
        height: 50px;
        width: 27%;
        margin-bottom: 20px;
    }
    header{
       flex-direction: column;
    }
/*Boutons navigation*/
    .navbar{
        margin-right: 0;
    }
    .hebergementbouton{
        border-top : none;
        border-bottom: 2px solid #0065FC;
        padding : 0 ;
        width: 50%;
        display: flex;
        flex-direction: column;  
        align-items: center;   
        font-size: 110%; 
        padding-bottom: 15px;  
    }
    .activitebouton{
        border-top : none;
        border-bottom: 2px solid #F2F2F2;
        padding : 0 ;
        width: 50%;
        display: flex;
        flex-direction: column;  
        align-items: center;
        font-size: 110%;
        padding-bottom: 15px; 

    }
/*CTA*/
    h1{
        font-size: 120%;
        margin: 25px 10% 15px 3%;
    }
    .CTA2 p{
        font-size: 100%;
        margin-left: 3%;
    }
/*Barra de recherche*/
    .Recherche{
        display: flex;
        align-self: center;
        margin-left: 7%;
    }
    .submit{
        display: none;
    }
    .search.fas.fa-search{
        display: flex;

    }
    .fas.fa-search{
        display: contents;
        background-color: #0065FC;
        font-size: 115%;
        padding: 5% 5% 5% 5%;
        display: flex;
        color: white;
        border-radius: 15px;
        position: absolute;
        right: 7%;
        height: 15px;
    }
/*Filtre*/
    .filter{
        flex-wrap: wrap;
        margin-left: 5%;
    }
    .titrefilter{
        margin-left: 7%;
        font-size: 100%;
        width: 100%;
    }
    .filter p{
        font-size: 100%;
        padding: 10px 25px 10px 45px ;
    }
    .filter i{
        font-size: 100%;
        height: 42px;
        width: 42px;
    }
/*Info*/
    .info p{
        font-size: 77%;
    } 
    .info i{
        height: 15px;
        width: 22px;
        margin-right: 10px;
    }
/*Blocs*/
    .hebergementpopulaire{
        flex-direction: column-reverse;
        max-height: none;
    }
/*Bloc populaire*/

    .populaire h2{
        padding-left: 4%;
    }
    .populaire{
        width: 100%;
        border-radius: 0%;
    }
    .titreboxpop{
        font-size: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .nuitpop{
        font-size: 85%;
    }
    .imgboxpop{
       height: auto; 
    
    }
    .boxpop{
        width: 90%;
        height: 150px;
    }
/*Bloc hébergement*/
    #hebergement{
        width: 100%;
        background: none;
        flex-direction: column ; 
        margin: none;   
        align-content: center
    }
    .hebergementtitre{
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .box{
        width: 90%;
        height: 200px;
    }
    .imgbox{
        width: 98%;
        height: 56.9%;
    }
    .titrebox{
        font-size: 105% ;
        margin-top: 10px;
    }
    .nuit{
        font-size: 90%;
    }
    .afficherplus{
        margin-top: 20px;
        margin-left: 3%;
        margin-bottom: 20px;
        font-size: 100%;
    }
/*Bloc activités*/
    #activites{
        flex-direction: column;
        align-content: center;
    }
    .activitestitre{
        margin-left: 12%;
    }
    .boxactlong{
        width: 90%;
        height: 200px;
    }
    .imgboxactlong{
        height: 75%;
    }
    .boxactfat{
        width: 90%;
        height: 200px;
    }
    .imgboxactfat{
        height: 75%;
    }
    .boxactjumelle{
        width: 90%;
        height: 200px;
    }
    .imgboxactjumelle{
        height: 75%;
    }
    .boxactfine{
        width: 90%;
        height: 200px;
    }
    .imgboxactfine{
        height: 75%;
    }
    .fatfine{
        width: 100%;
    }
    .boxjumelle{
        width: 100%;
    }
    .nomboxact{
        font-size: 90%;
    }
/*Footer*/
    footer
    {
    display: flex;
    flex-direction:column;
    padding-top: 25px;
    padding-bottom: 25px ;
    margin-top: 25px;
    }
    .liste{
        margin-left: 2%;
    }
}