@font-face 
{
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf') format('ttf');
}

*
{
    font-family: 'Raleway', "Arial Black", Arial, Verdana, sans-serif;
    
}
html { padding:0; height:100%; width: 100%; }

body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Logo Booki*/
.logo
{
    padding: 3% 0px 0px 5%;
    height: 61px;
    width: 120px;
}
/*Navbar Header*/
.navbar
{
    display :flex;
    justify-content: flex-end;
    position :absolute;
    top : 2px;
    right : 3.5%;
}
.hebergementbouton
{
    text-decoration: none;
    color: #0065FC;
    padding :75px 35px 0px 35px;
    border-top : 2px solid #0065FC;
    font-size: 22px;
}
.activitebouton
{
    text-decoration: none;
    color: black; 
    padding :75px 35px 0px 35px;
    font-size: 22px;
}
.activitebouton:hover
{
    color: #0065FC;
    border-top : 2px solid #0065FC;
}
/*CTA*/
.CTA
{
    font-size: 30px;
    font-weight: bold;
    padding:0px 0px 0px 3.8% ;  
    margin-bottom: 1%; 
    font-size: 22px;
}

.zone
{
    padding:0px 0px 0px 3.8% ; 
    font-size: 20px;
    margin-top: 1%; 
}
/*Barre de recherche*/
.Recherche
{
    max-width: 100%;
    overflow: auto;
    display: inline-flex;
    font-size: 22px;
    margin-left: 3.8%;
    height: 2.7%;
    overflow-x: hidden; 
}

.fas.fa-map-marker-alt
{
    padding:24px 40px 24px 40px ;
    background-color: #F2F2F2 ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.search
{
    height:70px ;
    width:300px ;
    border : solid 2px #F2F2F2;
    font-size: 22px;
}

.submit
{
    cursor: pointer;
    font-weight: bold;
    color: white;
    height:70px ;
    width: 265px;
    background-color: #0065FC;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 22px;
}


::placeholder
{
    font-weight: bold;
    color: black;
    padding-left: 35px;
}
/*Filtres*/
.filter
{
    padding: none;
    display: flex;
    margin-top: 1.6%; 
}

.titrefilter
{
    margin-left: 4.4%; 
    margin-right: 2.2%;  
}
.fas.fa-money-bill-wave,.fas.fa-child,.fas.fa-heart,.fas.fa-dog
{
    color: #0065FC;
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    
}

.pfiltre
{
    display : flex;
    margin : none;
    font-weight: bold;
    border: solid #F2F2F2 2px ;
    padding: 10px 35px 10px 60px ;
    margin-top: 10px;
    border-radius: 30px;
    margin-right: 25px;
    cursor: pointer;
    transition-duration: 0.5s ;
    font-size: 22px;
}
.pfiltre:hover
{
    background-color: #F2F2F2;
    
}
/*Info*/
.info
{
    display: flex;
    font-size: 22px;
    align-items: center;
    margin-left: 4.1%;
    margin-bottom:2%;
}
.fas.fa-info
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    color: #0065FC ; 
    font-size: 12px;
    border : solid #F2F2F2 ;
    border-radius: 50%; 
    margin-right: 0.8%;
    padding: none;
}
/*Hebergement*/
#hebergement
{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3.5%;
    margin-right: 2.8%;
    width: 61%;
}
.hebergementtitre
{
    margin-left: 80px;
    margin-top: 45px;
    margin-bottom: ;
    order:-1;
    flex:1 0 90%;
}
.afficherplus
{
    width: 100%;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 45px;
    text-decoration: none; 
    color: black;
}
.fas[data-active="false"] 
{
    color: #d9d9d9;
}
.box
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.7% 0.3% 0px 0.3%;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    height: 250px;
    width: 28.7%;
    margin: 2.6% 1.7% 2.3% 2.27%;
}
.imgbox
{
    align-self: center;
    height: 57.2%;
    width: 96.1%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.titrebox
{
    color: black;
    font-size: 125%;
    font-weight: bold;
    margin: 5% 0 2.5% 5%;
}
.nuit
{
    margin: 2.5% 0 2.5% 5%;
    font-size: 107%;
}
.grade
{
    margin: 0 0 0 5%;
    font-size: 77%;
    color: #0065FC;
}
/*Bloc populaire*/
.hebergementpopulaire
{
    display: flex;
    flex-direction: row;
}
.fa-solid.fa-chart-line
{
    color: black;
    margin-right: 45px;
}
.populaire
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    justify-content: space-around;
    width: 30%;
    justify-content: flex-start ;
    align-content: center;
}
.poptitre
{
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-top: 45px;
}
.fas.fa-chart-line
{
    margin-right: 45px;
}
.boxpop
{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    height: 23%;
    width: 81.6%;
}
.imgboxpop
{
    margin-right: 20px;
    height: 100%;
    width: 37%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
.nomboxpop
{
    margin-right: 50px;
}
.titreboxpop
{
    font-size: 125%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nuitpop
{
    font-size: 112%;
    margin-top: 10px;
    margin-bottom: 15px ;
}
.gradepop
{
    font-size: 77%;
    color: #0065FC ;
    margin-top: 25%;
}
span
{
    font-weight: bold;
}

/*Partie activités à Marseille*/

#activites
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.actvitestitre
{
    
    flex: 1 0 90%;
    margin-left: 135px;
    margin-top: 70px;
}
.boxactlong
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    
}
.boxactfat
{
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
}
.boxactfine
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
}
.boxactjumelle
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box; 
}
.imgboxactjumelle
{
    border-radius: 20px 20px 0px 0px;
    height: 175px;
    width: 325px;
    object-fit: cover;
}
.imgboxactlong
{
    border-radius: 20px 20px 0px 0px;
    height: 450px;
    width: 315px;
    object-fit: cover;
}
.imgboxactfat
{
    border-radius: 20px 20px 0px 0px;
    height: 240px;
    width: 325px;
    object-fit: cover;
}
.imgboxactfine
{

    border-radius: 20px 20px 0px 0px;
    height: 100px;
    width: 325px;
    object-fit: cover;

}
.fatfine
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxjumelle
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nomboxact
{
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}
/*Footer*/
footer
{ 
    margin-top: 75px;
    display:flex;
    flex-direction: row;
    background-color: #F2F2F2;
}
.liste
{
    list-style-type: none;
    margin-left: 10%;
}
.titreliste
{
    margin-bottom: 2%;
    font-weight: bold;
}
.contenulistes
{
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
}
.liste1{
    list-style-type: none;
    margin-left: 10%;
}







