@font-face 
{
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf') format('ttf');
}

*
{
    font-family: 'Raleway', "Arial Black", Arial, Verdana, sans-serif;
    
}
html { padding:0; height:100%; width: 100%; }

body { 
    margin: 0;
    padding: 0;
}
/*Logo Booki*/
header{
    display: flex;
    justify-content: space-between;
}
.logo
{
    padding: 3% 0px 0px 5%;
    height: 4%;
    width: 7%;
}
/*Navbar Header*/
.navbar
{
    display :flex;
    justify-content: flex-end;
    right : 3.5%;
    top:0%;
    margin-right: 5%;
}
.hebergementbouton
{
    text-decoration: none;
    color: #0065FC;
    padding :20% 10% 0 10%;
    border-top : 2px solid #0065FC;
    font-size: 135%;
}
.activitebouton
{
    text-decoration: none;
    color: black; 
    padding :20% 10% 0 10%;
    font-size: 135%;
}
.activitebouton:hover
{
    color: #0065FC;
    border-top : 2px solid #0065FC;
}
/*CTA*/
h1
{
    font-size: 130%;
    font-weight: bold;
    padding:0px 0px 0px 3.8% ;  
    margin-bottom: 1%; 
}

.CTA2 p
{
    padding:0px 0px 0px 3.8% ; 
    font-size: 130%;
    margin-top: 1%; 
}
/*Barre de recherche*/
.Recherche
{
    max-width: 100%;
    display: inline-flex;
    margin-left: 3.8%;
    height: 2.7%;
}

.fas.fa-map-marker-alt
{
    display: flex;
    align-self: center;
    background-color: #F2F2F2 ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5% 7% 5% 7%;
    font-size: 115%;
}

.search
{
    border : solid 2px #F2F2F2;
    font-size: 115%;
}

.submit
{
    cursor: pointer;
    font-weight: bold;
    color: white;
    width: 150%;
    background-color: #0065FC;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 110%;
    padding: 0 5% 0 5%;
}
.fas.fa-search{
    display: none;
}
input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding: 1px 20px;
}
::placeholder
{
    font-weight: bold;
    color: black;
    
}
/*Filtres*/
.filter
{
    padding: none;
    display: flex;
    margin-top: 1.6%; 
}

.titrefilter
{
    margin-left: 4.4%; 
    margin-right: 2.2%;  
}
.filter i
{
    color: #0065FC;
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    
}

.filter p
{
    display : flex;
    margin : none;
    font-weight: bold;
    border: solid #F2F2F2 2px ;
    padding: 10px 35px 10px 60px ;
    margin-top: 10px;
    border-radius: 30px;
    margin-right: 25px;
    cursor: pointer;
    transition-duration: 0.5s ;
    font-size: 22px;
}
.filter p:hover
{
    background-color: #F2F2F2;
    
}
/*Info*/
.info
{
    display: flex;
    font-size: 22px;
    align-items: center;
    margin-left: 4.1%;
    margin-bottom:2%;
}
.info i
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    color: #0065FC ; 
    font-size: 12px;
    border : solid #F2F2F2 ;
    border-radius: 50%; 
    margin-right: 0.8%;
    padding: none;
}
/*Blocs*/
.hebergementpopulaire
{
    display: flex;
    flex-direction: row;
    max-height: 820px;
}
/*Hebergement*/
#hebergement
{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3.5%;
    margin-right: 2.8%;
    width: 61%;
}
.hebergementtitre
{
    margin-left: 4%;
    margin-top: 4%;
    flex:1 0 90%;
    margin-bottom: 0;
    height: 0%;
}
.afficherplus
{
    width: 100%;
    margin-left: 4%;
    font-size: 115%;
    font-weight: bold;
    text-decoration: none; 
    color: black;
    height: 25px;
}
.afficherplus:hover{
    text-decoration: underline
}
.fas[data-active="false"] 
{
    color: #d9d9d9;
}
.box
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.7% 0.3% 0px 0.3%;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    height: 29%;
    width: 29%;
    margin: 2.6% 1.7% 2.3% 2.27%;
}
.imgbox
{
    align-self: center;
    height: 57.2%;
    width: 96.1%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.titrebox
{
    color: black;
    font-size: 125%;
    font-weight: bold;
    margin: 5% 0 2.5% 5%;
}
.nuit
{
    margin: 2.5% 0 2.5% 5%;
    font-size: 107%;
}
.grade
{
    margin: 0 0 0 5%;
    font-size: 77%;
    color: #0065FC;
}
.box:hover {
    transform: scale(1.05); 
}

/*Bloc populaire*/

.fa-solid.fa-chart-line
{
    color: black;
    margin-right: 45px;
}
.populaire
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    justify-content: flex-start;
    width: 30%;
    align-content: center;
}
.populaire h2
{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-top: 8%;
    margin-bottom: 0%;
}
.fas.fa-chart-line
{
    margin-right: 7%;
}
.boxpop
{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    height: 23%;
    width: 81.6%;
}
.boxpop:hover {
    transform: scale(1.05); 
}
.imgboxpop
{
    margin-right: 20px;
    height: 100%;
    width: 37%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
.nomboxpop
{
    margin-right: 50px;
}
.titreboxpop
{
    font-size: 135%;
    margin-top: 4%;
    margin-bottom: 1%;
}
.nuitpop
{
    font-size: 112%;
    margin-top: 1%;
    margin-bottom: 1,5% ;
}
.gradepop
{
    font-size: 77%;
    color: #0065FC ;
    margin-top: 25%;
}
span
{
    font-weight: bold;
}

/*Partie activités à Marseille*/

#activites
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}
.activitestitre
{
    flex: 1 0 90%;
    margin-left: 4%;
    margin-top: 3%;
}
.boxactlong
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    width: 17%;
    height: 450px;
}
.boxactlong:hover {
    transform: scale(1.05); 
}
.boxactfat
{
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    width: 80%;
    height: 255px;
}
.boxactfat:hover {
    transform: scale(1.05); 
}
.boxactfine
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    width: 80%;
    height: 160px;
}
.boxactfine:hover {
    transform: scale(1.05); 
}
.boxactjumelle
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    width: 90%;
    height: 210px ;
}
.boxactjumelle:hover {
    transform: scale(1.05); 
}
.imgboxactjumelle
{
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 72%;
}
.imgboxactlong
{
    border-radius: 20px 20px 0px 0px;
    height: 90%;
    width: 100%;
    object-fit: cover;
}
.imgboxactfat
{
    border-radius: 20px 20px 0px 0px;
    height: 75%;
    width: 100%;
    object-fit: cover;
}
.imgboxactfine
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 65%;
    object-fit: cover;

}
.fatfine
{
    display: flex;
    flex-direction: column;
    justify-content: space;
    width: 20.9%;
}
.boxjumelle
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20.9%;
}
.nomboxact
{
    margin-left: 5%;
    font-size: 16px;
    font-weight: bold;
}
/*Footer*/
footer
{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-top: 3%;
    padding-top: 1%;
}
.liste
{
    list-style-type: none;
    margin-left: 10%;
}
.titreliste
{
    margin-bottom: 5%;
    font-weight: bold;
}
.contenulistes
{
    cursor: pointer;
    font-size: 16px;
    line-height: 160%;
}
.liste1{
    list-style-type: none;
    margin-left: 10%;
}
.contenulistes:hover{
    text-decoration: underline;
}







